[bumpversion]
current_version = 0.1.2

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:shot.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:tests/test_shot.py]
search = shot(version=True) == "{current_version}"
replace = shot(version=True) == "{new_version}"
